<div class="container">    
    <div class="tekst">
        <div class="leveringsadres">
            <h2>Bestellen</h2>
            <p>De pizza wordt geleverdt aan:</p>
            <div class="adres">
                <p>{{gebruiker.Voornaam}} {{gebruiker.Achternaam}}</p>
                <p>{{gebruiker.Adres}}</p>
                <p>{{gebruiker.Postcode}} {{gebruiker.Gemeente}}</p>
            </div>
            <p>U kan deze gegevens aanpassen in "<a class="link" href="account.php">Mijn account</a>"</p>
        </div>
        <hr/>