<div class="container">    
    <div class="tekst">
        <h1>Register</h1>
        <form method="post" action="" class="loginform">
            <p>
                <label for="gebruikersnaam">Gebruikersnaam:</label>
                <input type="text" name="gebruikersnaam" value="{{gebruikersnaam}}"/>  
            </p><p>
                <label for="emailadres">Emailadres:</label>       
                <input type="text" name="emailadres" value="{{emailadres}}"/>
            </p><p>
                <label for="wachtwoord">Wachtwoord:</label> 
                <input type="password" name="wachtwoord"/>
            </p><p>
                <label for="voornaam">Voornaam:</label>       
                <input type="text" name="voornaam" value="{{voornaam}}"/>
            </p><p>
                <label for="achternaam">Achternaam:</label>         
                <input type="text" name="achternaam" value="{{achternaam}}"/>
            </p><p>
                <label for="adres">Adres:</label>         
                <input type="text" name="adres" value="{{adres}}"/>
            </p><p>
                <label for="postcode">Postcode:</label>         
                <input type="text" name="postcode" value="{{postcode}}"/>
            </p><p>
                <label for="gemeente">Gemeente:</label>       
                <input type="text" name="gemeente" value="{{gemeente}}"/>
            </p><p>
                <label for="telefoonnummer">Telefoonnummer:</label>        
                <input type="text" name="telefoonnummer" value="{{telefoonnummer}}"/>
            </p><p>
                <button type="submit" name="submit" class="button"/>Registreer</button>
            </p>
        </form>
    </div>
</div>

